# compiled output
/dist
/node_modules
/build

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
.env.secrets

# temp directory
.temp
.tmp

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

/acla_db/mongodb_data
/acla_backend/dist

/acla_db/backups
/acla_front/src/py-scripts/util/__pycache__
/acla_ai_service/app/api/__pycache__
/acla_ai_service/app/__pycache__
/acla_ai_service/app/models/__pycache__
/acla_ai_service/app/services/__pycache__

/acla_ai_service/app/api/__pycache__
/acla_ai_service/app/config/__pycache__
/acla_ai_service/app/api/__pycache__
/acla_ai_service/app/analyzers/__pycache__
/acla_ai_service/app/core/__pycache__
/session_recording
/acla_ai_service/__pycache__
/acla_ai_service/app/analyzers
/acla_ai_service/app/api/__pycache__
/acla_ai_service/app/api/__pycache__
/acla_ai_service/app/analyzers/__pycache__
